.section-bg {
  background: linear-gradient(120deg, #6a9ff8, #b3c8ff, #5b7cfa);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.certif-icon {
    height: 200px; 
    width: 200px; 
    object-fit: contain; 
    display: block;
    margin: 0 auto;
}

.title-color{
    color:#3251a6ff;
}

/* Carte générique des langages */
.lang-card {
  background: linear-gradient(135deg, #4e71d2, #6a8ff0);
  background-size: 200% 200%;
  animation: gradientAnimation 6s ease infinite;
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: all 0.5s ease;
  cursor: pointer;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Effet hover dynamique */
.lang-card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Icônes un peu plus dynamiques */
.tech-icon {
  width: 130px;
  height: 130px; 
  object-fit: contain;
  transition: transform 0.3s ease;
}

.lang-card:hover .tech-icon {
  transform: rotate(8deg) scale(1.1);
}

.btn-gradient{
  background: linear-gradient(90deg, #6083e2, #6a8ff0);
  border: none;
  transition: all 0.3s ease;
}
.btn-gradient:hover {
  transform: scale(1.13);
}

.gradient {
  background: linear-gradient(90deg, #6083e2, #6a8ff0);
  border: none;
  transition: all 0.5s ease;
}
.gradient:hover {
  transform: scale(1.03);
}

.section-bg {
  background: linear-gradient(120deg, #6a9ff8, #b3c8ff, #5b7cfa);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}