.nav-logo{
    font-weight:500;
    text-transform: uppercase;
}
.nav-link{
    font-weight:600;
}
.nav-link:hover{
    background-color: rgb(72, 94, 180);
}

.blue-color{
    color: rgb(100, 126, 230);
}